/* Style for social media buttons */
body {
    font-family: Arial, sans-serif;
    color: white; /* Set text color to white */
    text-align: center;
    height: 100vh; /* Set the body height to fill the viewport height */
    margin: 0; /* Remove body margin */
    display: flex;
    flex-direction: column; /* Center content vertically and horizontally */
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    background-color: black; /* Set the background color to black */
}

.page-title {
    font-size: 36px; /* Increase font size for the title */
    margin-bottom: 20px; /* Add some space below the title */
}

.author-info {
    font-size: 14px; /* Font size for author info */
    color: #999; /* Gray color for author info */
    margin-top: 10px; /* Add space above author info */
}

.center-container {
    display: flex;
    flex-direction: column; /* Arrange buttons vertically */
    align-items: center; /* Center buttons horizontally within the container */
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #FF0000; /* Red (YouTube) */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, font-size 0.3s ease, border 0.3s ease; /* Added border transition */
    font-size: 16px; /* Initial font size */
    border: 2px solid transparent; /* Initial transparent border */
}

button:hover {
    background-color: #CC0000; /* Darker red on hover */
    transform: scale(1.1); /* Slightly scale up on hover */
    font-size: 18px; /* Increase font size on hover */
    border-color: white; /* Add a white border on hover */
}

#tiktok-button {
    background-color: #000000; /* Black (TikTok) */
}

#tiktok-button:hover {
    background-color: #333333; /* Darker black on hover */
}

#discord-button {
    background-color: #7289DA; /* Discord blue */
}

#discord-button:hover {
    background-color: #677BC4; /* Darker Discord blue on hover */
}

/* Set the background image with bouncing dots */
body {
    background-image: url('https://i.pinimg.com/originals/4b/09/9b/4b099bb29083948a1f572f840ee80889.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: Arial, sans-serif;
    color: white; /* Set text color to white */
    text-align: center;
    height: 100vh; /* Set the body height to fill the viewport height */
    margin: 0; /* Remove body margin */
    display: flex;
    flex-direction: column; /* Center content vertically and horizontally */
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    position: relative; /* Relative positioning to create floating dots */
    overflow: hidden; /* Clip the background to the viewport */
}